* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 800;    
}

:root {
    --text-color: black;
    --bg-url: url(Fotos/777.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5); 
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --bg2-url: url(Fotos/pexels-eberhard-grossgasteiger-691668.jpg);
    
}


body {
    /*
    background-image: url(assets/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*background: color image repeat position/size */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;;
    background: var(--bg2-url) no-repeat top center/cover;
    backdrop-filter: blur(2px);
    border: 1px solid red;

}

body * {
    font-family: 'Gloock', serif;
    color: var(--text-color);
    
}

#container {
    width: 360px;
    margin: 56px auto 0px ;
    padding: 0 24px;
    border: 1px solid red;

}
    

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    border-radius: 150px;


}

#profile p {
    font-weight: 800;
    line-height: 24px;
    margin-top: 8px;
    font-size: 25px;
    
    
}

#profile2 {
    text-align: center;
    padding: -10px;
    margin-top: -15%;
}

#profile2 img {
    width: 190px;
    
}

#profile2 p {
    font-weight: 800;
    line-height: 24px;
    margin-top: -25px;
    font-size: 25px;
    }

    .content {
        height: 310px;
        width: 510px;
        border-radius: 30px;
        overflow:hidden;
        position: absolute;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
    .navigation2 {
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translate(-50%, -285%);
        display: flex
    }
    
    .bar {
        margin-top: 20px;
        border: 2px solid rgb(0, 0, 0);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: .2s;
        overflow: visible;
    }
    
    
    
    .bar:not(:last-child) {
        margin-right: 15px;
        
    }
    
    .bar:hover {
        background-color: black;
    }
    
    input {
        display: none;
    }
    
    .slides {
        display: flex;
        width: 500%;
        height: 100%;
    }
    
    .slide {
        width: 20%;
        transition: .6s;
    }
    
    .slide img {
        width: 100%;
        height: 100%;
    }
    
    #slide1:checked ~ .s1 {
        margin-left: 0;
    }
    
    #slide2:checked ~ .s1 {
        margin-left: -20%;
    }
    
    #slide3:checked ~ .s1 {
        margin-left: -40%;
    }
    
    #slide4:checked ~ .s1 {
        margin-left: -60%;
    }
    
    #slide5:checked ~ .s1 {
        margin-left: -80%;
    }

footer {
    
    padding: 24px 0; 
    text-align: center;

}

@media (min-width: 700px) {
    :root {
        --bg-url: url(Fotos/pexels-eberhard-grossgasteiger-691668.jpg);
        }

    }