* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 800;

}

:root {
    --text-color: black;
    --bg-url: url(Fotos/777.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5); 
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --bg2-url: url(Fotos/pexels-eberhard-grossgasteiger-691668.jpg);
    
}


body {
    /*
    background-image: url(assets/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*background: color image repeat position/size */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;;
    background: var(--bg2-url) no-repeat top center/cover;
    

}

body * {
    font-family: 'Gloock', serif;
    color: var(--text-color);
    
}

#container {
    
    height: 95%;
    width: 55%;
    margin: 0% auto 0px ;
    padding:1% 5%;
    backdrop-filter: blur(2px);

}

#container .content {
    height: 60%;
    width: 120%;
    border-radius: 30px;
    overflow:hidden;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container .navigation2 {
    position: absolute;
    bottom: 1px;
    left: 46%;
    transform: translate(-50%, -50%);
    display: flex;

}
      

#profile {
    text-align: center;
    padding: 1%;
}

#profile img {
    width: 18%;
    display: inline-block;
    margin-block-end: 5%;
    position: relative;
    margin-top: -2%;
    border-radius: 200%;
    
}

#profile p {
    font-weight: 800;
    width: 100%;
    line-height: 100%;
    font-size: 150%;
    position: relative;
       
}

#profile2 {
    width: 50%;
    height: 30%;
    text-align: center;
    position: relative;
    top: -6%;
    left: 21%;

}

#profile2 img {
    width: 112%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative; 
    top: -7%;
      
}

    
.bar {
    margin-top: 50%;
    border: 1px solid rgb(227, 225, 233);
    padding: 49%;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    overflow: visible;
}
    
    
    
    .bar:not(:last-child) {
        margin-right: 40%;
        
    }
    
    .bar:hover {
        background-color: rgb(255, 255, 255);
    }
    
    input {
        display: none;
    }
    
    .slides {
        display: flex;
        width: 500%;
        height: 100%;
    }
    
    .slide {
        width: 20%;
        transition: .6s;
    }
    
    .slide img {
        width: 100%;
        height: 100%;
    }
    
    #slide1:checked ~ .s1 {
        margin-left: 0;
    }
    
    #slide2:checked ~ .s1 {
        margin-left: -20%;
    }
    
    #slide3:checked ~ .s1 {
        margin-left: -40%;
    }
    
    #slide4:checked ~ .s1 {
        margin-left: -60%;
    }
    
    #slide5:checked ~ .s1 {
        margin-left: -80%;
    }

footer {
    padding: 1% 0; 
    text-align: center;
    

}

@media (max-width: 1000px) {
    :root {
        --bg-url: url(Fotos/777.jpg);
    }
    #container {
        height: 460px;
        width: 360px;
        margin-top: 26px;
        margin-left: auto;
        margin-right: auto;
        padding:10px 24px;
        backdrop-filter: blur(2px);
        
    
    }
    
    #container .content {
        height: 210px;
        width: 340px;
        border-radius: 30px;
        overflow:hidden;
        position: relative;
        top: 1%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #profile {
        text-align: center;
        padding: 1%;
    }
    
    #profile img {
        width: 18%;
        border-radius: 150px;
        position: relative;
        top: 0px;
    
    
    }
    
    #profile p {
        text-align:center;
        font-weight: 800;
        line-height: 24px;
        margin-top: 8px;
        font-size: 25px;
        position: relative;
        top: -19px;
        
    }
    
    #profile2 {
        text-align: center;
        
    }
    
    #profile2 img {
        width: 200px;
        display: flex;
        justify-content: center;
        position: relative;
        top: -20%;
        right: 4%;
        
    }

    #container .navigation2 {
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex
}
.bar {
    margin-top: 149px;
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
    position: relative;
    right: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.bar:not(:last-child) {
    margin-right: 10%;

}
footer {
    padding: 10% 0; 
    text-align: center;
}
}
